@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "文韵阁‌";
    var list = this.ViewData["list"] as List<DatasEntity>;
    var articleIndex = 0;
}
@foreach (var item in list)
{
    <div class="card bg-dark text-light border-0 m-0 mb-3">
        <div class="card-body row m-0 px-2">
            <div class="col-lg-2 col-md-3 col-sm-4 px-2">
                <img referrer="no-referrer|origin|unsafe-url" src="@(item.F_CoverImg)" class="rounded-3 w-100 articleimg" data-index="@(articleIndex)" data-id="@(item.F_Id)" alt="...">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 px-2">
                <h3 class="mb-3" style="line-height:0.75"><a href="/blog/article/@(item.F_Id)" target="_blank" class="fs-6 text-ddd text-decoration-none">@(item.F_Title)</a></h3>
                <p class="fs-7 text-aaa mb-1">@(item.F_Description)</p>
                <i class="fs-7 text-secondary">@(item.F_CreateTime.Value.ToString("yyyy-MM-dd HH:mm"))</i>
            </div>
        </div>
    </div>
    articleIndex++;
}
<div class="modal fade" id="modalArticleView" tabindex="-1" aria-labelledby="modalArticleViewLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl ">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
                <h1 class="modal-title fs-5" id="modalArticleViewLabel"></h1>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height:600px;">
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-primary" id="btnPrev">上一文章</button>
                <button type="button" class="btn btn-primary" id="btnNext">下一文章</button>
            </div>
        </div>
    </div>
</div>
<script>
    var pageMatrix = function () {
        const modalArticleViewEl = document.getElementById('modalArticleView');
        const modalArticleView = new bootstrap.Modal('#modalArticleView', { keyboard: false });
        modalArticleViewEl.addEventListener('shown.bs.modal', event => { });
        modalArticleViewEl.addEventListener('hidden.bs.modal', event => { });
        var articles = $(".articleimg");
        var articleIndex = 0;
        var initArticleViewer = function () {
            for (var i = 0; i < articles.length; i++) {
                $(articles[i]).click(function () {
                    var article = $(this);
                    articleIndex = parseInt(article.attr("data-index"));
                    var articleId = article.attr("data-id");
                    apiClient.datas.get(articleId, function (d) {
                        $("#modalArticleViewLabel").html(d.f_Title);
                        $("#modalArticleView .modal-body").html("<iframe src='" + d.f_Url + "' scrolling='yes' border='0' frameborder='no' framespacing='0' allowfullscreen='true' class='w-100 h-100'></iframe>");
                        modalArticleView.show();
                    }, function (err) {
                        alert(err.message);
                    });
                });
            }
        }
        initArticleViewer();
        $("#btnPrev").click(function () {
            if (articleIndex == 0) {
                articleIndex = articles.length - 1;
            }
            else {
                articleIndex--;
            }
            $(articles[articleIndex]).click();
        });
        $("#btnNext").click(function () {
            if (articleIndex == articles.length - 1) {
                articleIndex = 0;
            }
            else {
                articleIndex++;
            }
            $(articles[articleIndex]).click();
        });
    };
    $(function () {
        new pageMatrix();
    });
</script>

