@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "梦链阁";
    ViewData["Description"] = "收录经典网站的《编城大典》";
    var list = this.ViewData["list"] as List<DatasEntity>;
    list = list.OrderByRandom();
    var websiteIndex = 0;
}
@foreach (var item in list)
{
    <div class="card bg-dark text-light border-0 m-0 mb-3">
        <div class="card-body row m-0 px-2">
            <div class="col-lg-2 col-md-3 col-sm-4 px-2">
                <img referrer="no-referrer|origin|unsafe-url" src="@(item.F_CoverImg)" class="rounded-3 w-100 websiteimg" data-index="@(websiteIndex)" data-id="@(item.F_Id)" alt="...">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 px-2">
                <h3><a href="@(item.F_Url)" target="_blank" class="fs-6 text-ddd text-decoration-none">@(item.F_Title)</a></h3>
                <p class="fs-7 text-aaa mb-1">@(item.F_Description)</p>
                <i class="fs-7 text-secondary">@(item.F_CreateTime.Value.ToString("yyyy-MM-dd HH:mm"))</i>
            </div>
        </div>
    </div>
    websiteIndex++;
}
<div class="modal fade" id="modalWebSiteView" tabindex="-1" aria-labelledby="modalWebSiteViewLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl ">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
                <h1 class="modal-title fs-5" id="modalWebSiteViewLabel"></h1>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height:600px;">
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-primary" id="btnPrev">上一网站</button>
                <button type="button" class="btn btn-primary" id="btnNext">下一网站</button>
            </div>
        </div>
    </div>
</div>
<script>
    var pageMatrix = function () {
        const modalWebSiteViewEl = document.getElementById('modalWebSiteView');
        const modalWebSiteView = new bootstrap.Modal('#modalWebSiteView', { keyboard: false });
        modalWebSiteViewEl.addEventListener('shown.bs.modal', event => { });
        modalWebSiteViewEl.addEventListener('hidden.bs.modal', event => { });
        var websites = $(".websiteimg");
        var websiteIndex = 0;
        var initWebSiteViewer = function () {
            for (var i = 0; i < websites.length; i++) {
                $(websites[i]).click(function () {
                    var website = $(this);
                    websiteIndex = parseInt(website.attr("data-index"));
                    var websiteId = website.attr("data-id");
                    apiClient.datas.get(websiteId, function (d) {
                        $("#modalWebSiteViewLabel").html(d.f_Title);
                        $("#modalWebSiteView .modal-body").html("<iframe src='" + d.f_Url + "' scrolling='yes' border='0' frameborder='no' framespacing='0' allowfullscreen='true' class='w-100 h-100'></iframe>");
                        modalWebSiteView.show();
                    }, function (err) {
                        alert(err.message);
                    });
                });
            }
        }
        initWebSiteViewer();
        $("#btnPrev").click(function () {
            if (websiteIndex == 0) {
                websiteIndex = websites.length - 1;
            }
            else {
                websiteIndex--;
            }
            $(websites[websiteIndex]).click();
        });
        $("#btnNext").click(function () {
            if (websiteIndex == websites.length - 1) {
                websiteIndex = 0;
            }
            else {
                websiteIndex++;
            }
            $(websites[websiteIndex]).click();
        });
    };
    $(function () {
        new pageMatrix();
    });
</script>

