@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MatrixLayout";
    ViewData["Title"] = "留言吧";
    var txlist = this.ViewData["txlist"] as List<TouXiangsEntity>;
    var list = this.ViewData["list"] as List<MessagesEntity>;
    List<List<MessagesEntity>> colList = new List<List<MessagesEntity>>();
    List<MessagesEntity> list0 = new List<MessagesEntity>();
    List<MessagesEntity> list1 = new List<MessagesEntity>();
    List<MessagesEntity> list2 = new List<MessagesEntity>();
    List<MessagesEntity> list3 = new List<MessagesEntity>();
    int i = 0;
    foreach(var item in list)
    {
        switch (i)
        {
            case 0:
                list0.Add(item);
                break;
            case 1:
                list1.Add(item);
                break;
            case 2:
                list2.Add(item);
                break;
            case 3:
                list3.Add(item);
                i = -1;
                break;
        }
        i++;
    }
    colList.Add(list0);
    colList.Add(list1);
    colList.Add(list2);
    colList.Add(list3);
    int count = 20;
}
<div class="row m-0">
    @foreach (var col in colList)
    {
        <div class="col px-1">
            @foreach (var item in col)
            {
                <div class="card bg-dark border-1 border-secondary text-light mb-2">
                    <div class="card-body">
                        <p class="fs-6 mb-2">@(item.F_Content)</p>
                        <div class="fs-7">
                            <img referrer="no-referrer|origin|unsafe-url" src="@(txlist[Com.RandomInt(txlist.Count)].F_ImgSrc)" class="rounded-circle" style="width:26px" />
                            @(item.F_UserName)
                        </div>
                        <i class="fs-7 text-secondary">@(item.F_CreateTime.Value.ToString("yyyy-MM-dd HH:mm"))</i>
                    </div>
                    <div class="card-footer text-end border-secondary">
                        <button class="btn btn-sm btn-outline-danger btndelete" data-id="@(item.F_Id)">删除</button>
                    </div>
                </div>
            }
        </div>
    }
</div>
<script>
    var pageMatrix = function () {        
        $("#btnCreate").remove();
        var initDelete = function () {
            var btndeleteList = $(".btndelete");
            for (var i = 0; i < btndeleteList.length; i++) {
                $(btndeleteList[i]).click(function () {
                    if (confirm("是否忍心删除此留言？")) {
                        var id = $(this).attr("data-id");
                        apiClient.messages.delete(id, function (d) {
                            alert(d);
                            location.reload();
                        }, function (err) {
                            alert(err.message);
                        });
                    }
                });
            }
        }
        initDelete();
    };
    $(function () {
        new pageMatrix();
    });
</script>

