@{
    Layout = "_MatrixLayout";
    ViewData["Title"] = "时光录";
    var timeslist = this.ViewData["timeslist"] as List<TimesEntity>;
    int imgIndex = 0;
}
@foreach (var item in timeslist)
{
    <div class="card bg-dark border-secondary text-light mb-3">
        <div class="card-body">
            <p class="card-text fs-6 mb-1">@(item.F_Content)</p>
            @if (item.E_ImgSrcList.Count > 0)
            {
                int boxWidth = 340;
                if (item.E_ImgSrcList.Count == 8)
                {
                    boxWidth = 450;
                }

                <div class="clearfix mt-2" style="width:@(boxWidth)px">
                    @{
                        int imgWidth = 100;
                        if (item.E_ImgSrcList.Count == 4 || item.E_ImgSrcList.Count == 2)
                        {
                            imgWidth = 155;
                        }
                        if (item.E_ImgSrcList.Count == 1)
                        {
                            imgWidth = 320;
                        }
                    }
                    @foreach (var img in item.E_ImgSrcList)
                    {
                        <img src="@(img.imgSrc)" class="float-start rounded timeImg" data-index="@(imgIndex)" style="width:@(imgWidth)px;height:@(imgWidth)px;margin:0 0 10px 10px" />
                        imgIndex++;
                    }
                </div>
            }
            <i class="fs-7 text-secondary">@(item.F_CreateTime.Value.ToString("yyyy-MM-dd HH:mm"))</i>
        </div>
        <div class="card-footer text-end border-secondary">
            <button class="btn btn-sm btn-outline-primary btnedit" data-id="@(item.F_Id)">编辑</button>
            <button class="btn btn-sm btn-outline-danger btndelete" data-id="@(item.F_Id)">删除</button>
        </div>
    </div>
}
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl ">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
                <h1 class="modal-title fs-5" id="modalFormLabel">编辑</h1>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtContent" class="form-label">内容</label>
                    <textarea class="form-control bg-dark text-light" id="txtContent" rows="5" placeholder="随便说说此刻的想法，500字以上就去写blog吧！"></textarea>
                </div>
                <div class="input-group mb-3">
                    <input id="txtImgSrc" type="text" class="form-control bg-dark text-light" placeholder="写上图片地址，咱就不存图片了哈" aria-describedby="btnAddImg">
                    <button class="btn btn-outline-secondary border-light text-light" type="button" id="btnAddImg">增加图片</button>
                </div>
                <div id="imgbox">
                </div>
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnSave">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalImgView" tabindex="-1" aria-labelledby="modalImgViewLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl ">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
                <h1 class="modal-title fs-5" id="modalImgViewLabel">看原图更清楚</h1>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="#" id="imgViewer" class="img-fluid rounded mx-auto d-block" />
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-primary" id="btnPrev">上一张</button>
                <button type="button" class="btn btn-primary" id="btnNext">下一张</button>
            </div>
        </div>
    </div>
</div>
<script>
    var pageMatrix = function () {
        const modalFormEl = document.getElementById('modalForm');
        const modalForm = new bootstrap.Modal('#modalForm', { keyboard: false });
        modalFormEl.addEventListener('shown.bs.modal', event => { });
        modalFormEl.addEventListener('hidden.bs.modal', event => { });
        $("#btnCreate").click(function () {
            $("#modalFormLabel").html("新增");
            editId = "";
            imgSrcList = new Array();
            modalForm.show();
        });
        var imgSrcList = new Array();
        $("#btnAddImg").click(function () {
            if ($("#imgbox").children().length >= 9) {
                alert("图片不超过9张");
                return;
            }
            var imgSrc = $.trim($("#txtImgSrc").val());
            if (imgSrc == "") {
                alert("图片地址不能为空");
                return;
            }
            var imgId = new Date().getTime();
            imgSrcList.push({ imgId, imgSrc });
            var img = $("<div class='float-start p-1'><img src='" + imgSrc + "' class='img-thumbnail' style='width:100px;height:100px;' /><br><a href='#' class='text-danger' id='btn" + imgId + "' data-imgId='" + imgId + "'>移除</a></div>");

            $("#imgbox").append(img);
            $("#txtImgSrc").val("");
            console.log(imgSrcList);
            $("#btn" + imgId).click(function () {
                var _imgId = $(this).attr("data-imgId");
                var newList = new Array();
                for (var i = 0; i < imgSrcList.length; i++) {
                    var item = imgSrcList[i];
                    if (_imgId != item.imgId) {
                        newList.push(item);
                    }
                }
                imgSrcList = newList;
                $("#btn" + imgId).parent().remove();
            });
        });
        $("#btnSave").click(function () {
            var content = $.trim($("#txtContent").val());
            var imgs = JSON.stringify(imgSrcList);
            apiClient.times.save(editId, content, imgs, function (d) {
                alert(d);
                modalForm.hide();
                location.reload();
            }, function (err) {
                alert(err.message);
            });
        });
        var initDelete = function () {
            var btndeleteList = $(".btndelete");
            for (var i = 0; i < btndeleteList.length; i++) {
                $(btndeleteList[i]).click(function () {
                    if (confirm("是否忍心删除此时光录？")) {
                        var id = $(this).attr("data-id");
                        apiClient.times.delete(id, function (d) {
                            alert(d);
                            location.reload();
                        }, function (err) {
                            alert(err.message);
                        });
                    }
                });
            }
        }
        initDelete();
        var editId = "";
        var initEdit = function () {
            var btneditList = $(".btnedit");
            for (var i = 0; i < btneditList.length; i++) {
                $(btneditList[i]).click(function () {
                    imgSrcList = new Array();
                    editId = $(this).attr("data-id");
                    apiClient.times.get(editId, function (d) {
                        $("#txtContent").val(d.f_Content);
                        if (d.f_ImgSrcList && d.f_ImgSrcList.length > 0) {
                            for (var i = 0; i < d.f_ImgSrcList.length; i++) {
                                $("#txtImgSrc").val(d.f_ImgSrcList[i].imgSrc);
                                $("#btnAddImg").click();
                            }
                        }
                        modalForm.show();
                    }, function (err) {
                        alert(err.message);
                    });

                });
            }
        }
        initEdit();

        const modalImgViewEl = document.getElementById('modalImgView');
        const modalImgView = new bootstrap.Modal('#modalImgView', { keyboard: false });
        modalImgViewEl.addEventListener('shown.bs.modal', event => { });
        modalImgViewEl.addEventListener('hidden.bs.modal', event => { });
        var imgs = $(".timeImg");
        var imgIndex = 0;
        var initImgViewer = function () {
            for (var i = 0; i < imgs.length; i++) {
                $(imgs[i]).click(function () {
                    var img = $(this);
                    imgIndex = parseInt(img.attr("data-index"));
                    var imgsrc = img.attr("src");
                    $("#imgViewer").attr("src", imgsrc);
                    modalImgView.show();
                });
            }
        }
        initImgViewer();
        $("#btnPrev").click(function () {
            if (imgIndex == 0) {
                imgIndex = imgs.length - 1;
            }
            else {
                imgIndex--;
            }
            $(imgs[imgIndex]).click();
        });
        $("#btnNext").click(function () {
            if (imgIndex == imgs.length - 1) {
                imgIndex = 0;
            }
            else {
                imgIndex++;
            }
            $(imgs[imgIndex]).click();
        });
    };
    $(function () {
        new pageMatrix();
    });
</script>