@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_MatrixLayout";
    ViewData["Title"] = "梦链阁";
    var list = this.ViewData["list"] as List<DatasEntity>;
    var websiteIndex = 0;
}
@foreach (var item in list)
{
    <div class="card bg-dark text-light border-0 m-0 mb-3">
        <div class="card-body row m-0 px-2">
            <div class="col-lg-2 col-md-3 col-sm-4 px-2">
                <img referrer="no-referrer|origin|unsafe-url" src="@(item.F_CoverImg)" class="rounded-3 w-100 websiteimg" data-index="@(websiteIndex)" data-id="@(item.F_Id)" alt="...">
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 px-2">
                <h3><a href="@(item.F_Url)" target="_blank" class="fs-6 text-ddd text-decoration-none">@(item.F_Title)</a></h3>
                <p class="fs-7 text-aaa mb-1">@(item.F_Description)</p>
                <i class="fs-7 text-secondary">@(item.F_CreateTime.Value.ToString("yyyy-MM-dd HH:mm"))</i>
            </div>
        </div>
        <div class="card-footer text-end border-secondary">
            <button class="btn btn-sm btn-outline-primary btnedit" data-id="@(item.F_Id)">编辑</button>
            <button class="btn btn-sm btn-outline-danger btndelete" data-id="@(item.F_Id)">删除</button>
        </div>
    </div>
    websiteIndex++;
}
<div class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="modalFormLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl ">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
                <h1 class="modal-title fs-5" id="modalFormLabel">编辑</h1>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="txtTitle" class="form-label">标题</label>
                    <textarea class="form-control bg-dark text-light" id="txtTitle" rows="1" placeholder="网站的标题，不要太长，容易影响样式哦"></textarea>
                </div>
                <div class="mb-3">
                    <label for="txtDescription" class="form-label">摘要</label>
                    <textarea class="form-control bg-dark text-light" id="txtDescription" rows="3" placeholder="网站的摘要，不要太长，容易影响样式哦"></textarea>
                </div>
                <div class="mb-3">
                    <label for="txtUrl" class="form-label">网站地址</label>
                    <textarea class="form-control bg-dark text-light" id="txtUrl" rows="3" placeholder="网站地址"></textarea>
                </div>
                <div class="input-group mb-3">
                    <input id="txtImgSrc" type="text" class="form-control bg-dark text-light" placeholder="写上封面地址，咱就不存图片了哈" aria-describedby="btnAddImg">
                    <button class="btn btn-outline-secondary border-light text-light" type="button" id="btnAddImg">设置封面</button>
                </div>
                <div id="imgbox">
                </div>
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="btnSave">保存</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalWebSiteView" tabindex="-1" aria-labelledby="modalWebSiteViewLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl ">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header border-secondary">
                <h1 class="modal-title fs-5" id="modalWebSiteViewLabel"></h1>
                <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="height:600px;">
            </div>
            <div class="modal-footer border-secondary">
                <button type="button" class="btn btn-primary" id="btnPrev">上一网站</button>
                <button type="button" class="btn btn-primary" id="btnNext">上一网站</button>
            </div>
        </div>
    </div>
</div>
<script>
    var pageMatrix = function () {
        const modalFormEl = document.getElementById('modalForm');
        const modalForm = new bootstrap.Modal('#modalForm', { keyboard: false });
        modalFormEl.addEventListener('shown.bs.modal', event => { });
        modalFormEl.addEventListener('hidden.bs.modal', event => { });
        $("#btnCreate").click(function () {
            $("#modalFormLabel").html("新增");
            editId = "";
            modalForm.show();
        });
        var editId = "";
        var coverImgSrc = "";
        $("#btnAddImg").click(function () {
            coverImgSrc = $.trim($("#txtImgSrc").val());
            if (coverImgSrc == "") {
                alert("图片地址不能为空");
                return;
            }
            var img = $("<div class='float-start p-1'><img referrer='no-referrer|origin|unsafe-url' src='" + coverImgSrc + "' class='img-thumbnail' style='width:200px;' /></div>");
            $("#imgbox").html(img);
            $("#txtImgSrc").val("");
        });

        $("#btnSave").click(function () {
            var title = $.trim($("#txtTitle").val());
            var description = $.trim($("#txtDescription").val());
            var url = $.trim($("#txtUrl").val());
            //F_Id, F_Title, F_Description, F_Content, F_Type, F_CoverImg, F_Imgs, F_Url, F_VideoUrl, F_AudioUrl, F_IFrameCode
            apiClient.datas.save(editId, title, description,null,4,coverImgSrc,null, url,null,null,null,  function (d) {
                alert(d);
                modalForm.hide();
                location.reload();
            }, function (err) {
                alert(err.message);
            });
        });

        var initDelete = function () {
            var btndeleteList = $(".btndelete");
            for (var i = 0; i < btndeleteList.length; i++) {
                $(btndeleteList[i]).click(function () {
                    if (confirm("是否忍心删除此文章？")) {
                        var id = $(this).attr("data-id");
                        apiClient.datas.delete(id, function (d) {
                            alert(d);
                            location.reload();
                        }, function (err) {
                            alert(err.message);
                        });
                    }
                });
            }
        }
        initDelete();

        var initEdit = function () {
            var btneditList = $(".btnedit");
            for (var i = 0; i < btneditList.length; i++) {
                $(btneditList[i]).click(function () {
                    editId = $(this).attr("data-id");
                    apiClient.datas.get(editId, function (d) {
                        $("#txtTitle").val(d.f_Title);
                        $("#txtDescription").val(d.f_Description);
                        $("#txtUrl").val(d.f_Url);
                        $("#txtImgSrc").val(d.f_CoverImg);
                        $("#btnAddImg").click();
                        modalForm.show();
                    }, function (err) {
                        alert(err.message);
                    });
                });
            }
        }
        initEdit();


        const modalWebSiteViewEl = document.getElementById('modalWebSiteView');
        const modalWebSiteView = new bootstrap.Modal('#modalWebSiteView', { keyboard: false });
        modalWebSiteViewEl.addEventListener('shown.bs.modal', event => { });
        modalWebSiteViewEl.addEventListener('hidden.bs.modal', event => { });
        var websites = $(".websiteimg");
        var websiteIndex = 0;
        var initWebSiteViewer = function () {
            for (var i = 0; i < websites.length; i++) {
                $(websites[i]).click(function () {
                    var website = $(this);
                    websiteIndex = parseInt(website.attr("data-index"));
                    var websiteId = website.attr("data-id");
                    apiClient.datas.get(websiteId, function (d) {
                        $("#modalWebSiteViewLabel").html(d.f_Title);
                        $("#modalWebSiteView .modal-body").html("<iframe src='" + d.f_Url + "' scrolling='yes' border='0' frameborder='no' framespacing='0' allowfullscreen='true' class='w-100 h-100'></iframe>");
                        modalWebSiteView.show();
                    }, function (err) {
                        alert(err.message);
                    });
                });
            }
        }
        initWebSiteViewer();
        $("#btnPrev").click(function () {
            if (websiteIndex == 0) {
                websiteIndex = websites.length - 1;
            }
            else {
                websiteIndex--;
            }
            $(websites[websiteIndex]).click();
        });
        $("#btnNext").click(function () {
            if (websiteIndex == websites.length - 1) {
                websiteIndex = 0;
            }
            else {
                websiteIndex++;
            }
            $(websites[websiteIndex]).click();
        });
    };
    $(function () {
        new pageMatrix();
    });
</script>

