@{
    var controller = this.Context.Request.RouteValues["controller"].ToString().ToLower();
    var action = this.Context.Request.RouteValues["action"].ToString().ToLower();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="referrer" content="no-referrer" />
    <link rel="shortcut icon" href="~/favicon.jpg" type="image/x-icon" />
    <meta name="baidu-site-verification" content="codeva-x6YA4P7Pl7" />
    <title>@ViewData["Title"] - @(Config.SiteName)</title>
    <meta name="keywords" content="@(Config.SiteKeyWords)" />
    <meta name="description" content="@(Config.SiteDescription)" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SouthWall.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-cookie/jquery.cookie.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/webapis.js" asp-append-version="true"></script>
</head>
<body class="bg-black">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom border-secondary box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Blog" asp-action="Index">编城的南墙</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(action=="times"||action=="index"?"text-light":"text-tz-gray")" asp-area="" asp-controller="Blog" asp-action="Times">时光录</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action=="videos"?"text-light":"text-tz-gray")" asp-area="" asp-controller="Blog" asp-action="Videos">放映厅</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action=="articles"?"text-light":"text-tz-gray")" asp-area="" asp-controller="Blog" asp-action="Articles">文书阁</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action=="messages"?"text-light":"text-tz-gray")" asp-area="" asp-controller="Blog" asp-action="Messages">留言吧</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(action=="owner"?"text-light":"text-tz-gray")" asp-area="" asp-controller="Blog" asp-action="Owner">城主传</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="pagebody" class="container">
        <main role="main" class="row py-3 clearfix h-100">
            <div class="col-lg-3 col-md-2 col-sm-12 col-12 d-lg-block  d-md-block d-sm-none d-none pb-5">
                @await Html.PartialAsync("PersionCard")
                @await Component.InvokeAsync("MessageBox")
            </div>
            <div class="col-lg-9 col-md-10 col-sm-12 col-12 ps-3 h-100">
                <h5 class="text-light px-2 pb-2 fw-bold border-bottom border-1 border-secondary mb-3">@(ViewData["Title"])</h5>                
                <div style="height:calc(100% - 50px)" class="overflow-auto pe-2">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    @await Html.PartialAsync("Footer")
    @await Component.InvokeAsync("ShiJuValid")
    <script>
        $(window).resize(function () { 
            $("#pagebody").height($(window).height() - 120);
        });
        $(window).resize();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
